body {
    margin: 50px;

}

.container {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
    width: 330px;
    padding: 10px ;
    border: solid black;
   
}

#display {
    pointer-events: none;
    /* word-wrap: break-word;
    word-break: break-all; */
    overflow: hidden;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: white;
}

#display:empty:before {
    content: attr(data-placeholder);
}

button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin: 2px;
    align-items: stretch;
}

.numbBtn {
    background-color: rgb(230, 204, 255);
    font-size: 25px;
}

button:hover {
    border-color:rgb(221, 127, 3);
    color: rgb(44, 0, 70);
    
}

#addition, #divide, #subtract, #multiply {
    background-color:rgb(209, 167, 113);
    color: rgb(0, 0, 0);
    font-size: 30px;
}

#addition:hover, #divide:hover, #subtract:hover, #multiply:hover {
    border-color: rgb(221, 127, 3);
    color: rgb(255, 255, 255);
    
}

#clear, #backspace {
    font-size: 30px;
    width: 159px;
    height: 60px;
}

#decimal, #equals {
    font-size: 30px;
    background-color:rgb(255, 255, 255);
}

#clear:hover, #equals:hover, #decimal:hover, #backspace:hover {
    border-color: rgb(221, 127, 3);
    color: rgb(44, 0, 70);
}